/Propuesto19/Propuesto19/nbproject/private/
/Propuesto18/nbproject/private/
/Propuesto19/nbproject/private/
/Propuesto19x/nbproject/private/
/Propuesto19x/build/
/Propuestoo19/nbproject/private/
/Propuestoo19/build/
/Propuesto19/build/
/Propuesto18/build/
/Resuelto7/nbproject/private/
/Resuelto7/build/
/Resuelto10/nbproject/private/
/Resuelto10/build/
/Propuesto22/nbproject/private/
/Propuesto22/build/
/Propuesto23/nbproject/private/
/Propuesto23/build/
/Figuras/nbproject/private/
/Figuras/build/
